@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1665632085842') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinlangweibo:before {
  content: "\f01af";
}

.icon-gouwucheman:before {
  content: "\344b";
}

.icon-dengpaotishi:before {
  content: "\e622";
}

.icon-dingdan:before {
  content: "\e649";
}

.icon-shouyefill:before {
  content: "\e750";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-wodedingdan0101:before {
  content: "\e61a";
}

.icon-xinxi:before {
  content: "\e64a";
}

.icon-shijianzhongbiao:before {
  content: "\e810";
}

.icon-qq:before {
  content: "\e65b";
}

.icon-weixin:before {
  content: "\e623";
}

.icon-huaduo:before {
  content: "\e625";
}

.icon-xingqiu:before {
  content: "\e8e7";
}

.icon-wenjianjia:before {
  content: "\e552";
}

.icon-bianpingguanli:before {
  content: "\e627";
}

.icon-tijianbaogao:before {
  content: "\e628";
}

.icon-wode:before {
  content: "\e626";
}

.icon-diannao:before {
  content: "\e635";
}

.icon-biaoqianA01_gouwudai-69:before {
  content: "\eabc";
}

.icon-complete:before {
  content: "\e677";
}

.icon-wodewo:before {
  content: "\e6e0";
}

.icon-bijijilu:before {
  content: "\e6f3";
}

.icon-shanxingtu:before {
  content: "\e62f";
}

.icon-shoucang:before {
  content: "\e643";
}

.icon-duihuan:before {
  content: "\e61f";
}

.icon-canpan-yuanding:before {
  content: "\e65a";
}

